.slider {
  color: #fff;
}

.slider__body {
  width: 100%;
  height: 777px;
}

.slider__content {
  width: 100%;
  height: 777px;
}

.stalker {
  background: url("../img/slider/01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
