@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Roboto:200,300,regular,500,700&display=swap&subset=cyrillic-ext ");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Roboto', 'Times', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--black);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-big {
  max-width: 1355px;
  margin: 0 auto;
  padding: 0 15px;
}

.subtitle {
  display: inline;
  position: relative;
  padding-left: 4.5rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 180%;
  margin-bottom: 9px;
  color: #57D6FF;
}

.subtitle::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 1px;
  margin: auto 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: #57D6FF;
}

.title {
  font-family: 'Aire Exterior', 'Times', sans-serif;
  font-weight: 400;
  font-size: 39px;
  line-height: 39px;
  padding-top: 9px;
}

.link {
  position: relative;
  color: var(--white);
  padding-bottom: 4px;
}

.link::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--sky-blue);
  box-shadow: 1px 1px 10px var(--sky-blue), -1px -1px 10px var(--sky-blue);
  transition: all 0.3s ease-out;
}

.link::before {
  display: block;
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--sky-blue);
  box-shadow: 1px 1px 10px var(--sky-blue), -1px -1px 10px var(--sky-blue);
  transition: all 0.3s ease-out;
}

.link:hover:after, .link:focus:after {
  width: 50%;
}

.link:hover:before, .link:focus:before {
  width: 50%;
}

.link-blue {
  color: var(--sky-blue);
}

.link-blue::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--sky-blue);
  box-shadow: 1px 1px 10px var(--sky-blue), -1px -1px 10px var(--sky-blue);
  transition: all 0.3s ease-out;
}

.link-blue::before {
  display: block;
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--sky-blue);
  box-shadow: 1px 1px 10px var(--sky-blue), -1px -1px 10px var(--sky-blue);
  transition: all 0.3s ease-out;
}

.link-blue:hover:after, .link-blue:focus:after {
  width: 50%;
}

.link-blue:hover:before, .link-blue:focus:before {
  width: 50%;
}

.button {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  min-width: 250px;
  min-height: 61px;
  padding: 10px 30px;
  font-size: 24px;
  line-height: 1;
  color: #000;
  z-index: -1;
  clip-path: polygon(91% 0, 100% 33%, 100% 100%, 0 100%, 0 0);
  transition: all 0.4s ease-in-out;
}

.button:hover, .button:focus {
  clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
  background-color: #e7e7e7;
}

.lock {
  overflow: hidden;
}

:root {
  --white: #fff;
  --black: #141C24;
  --gray: #ABABAB;
  --sky-blue: #00C5FF;
  --blue: #57D6FF
;
}

@font-face {
  font-family: 'Aire Exterior';
  src: url("../fonts/AireExterior.eot");
  src: url("../fonts/AireExterior.eot?#iefix") format("embedded-opentype"), url("../fonts/AireExterior.woff2") format("woff2"), url("../fonts/AireExterior.woff") format("woff"), url("../fonts/AireExterior.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--black);
  z-index: 99;
}

.header::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: repeating-linear-gradient(-45deg, var(--gray), var(--gray) 5px, transparent 5px, transparent 10px);
  bottom: 0;
  left: 0;
  z-index: 1;
}

.header__body {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  padding: 45px 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.85s ease-in-out;
}

.header__logo {
  position: relative;
  margin-right: 15px;
  z-index: 2;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 45px;
  row-gap: 5px;
}

.header__item:last-child {
  margin-right: 50px;
}

.header__burger {
  display: none;
}

.header__burger-logo {
  display: none;
}

.logo__link svg {
  transition: all 0.4s ease-in;
}

.logo__link svg:hover, .logo__link svg:focus {
  fill: #43a7ff;
  filter: drop-shadow(3px 3px 10px #43a7ff85);
  -webkit-filter: drop-shadow(3px 3px 10px #43a7ff85);
  -moz-filter: drop-shadow(3px 3px 10px #43a7ff85);
}

.header__return {
  margin: 25px 0;
  background-color: transparent;
}

.burger-header__list {
  display: flex;
  position: relative;
  justify-content: center;
  column-gap: 25px;
  width: 300px;
  padding-top: 140px;
  padding-bottom: 40px;
}

.burger-header__list::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.burger-header__link {
  transition: all 0.4s ease-in;
}

.burger-header__link img {
  width: 30px;
  height: 30px;
}

.burger-header__link:hover, .burger-header__link:focus {
  filter: drop-shadow(0px 0px 10px #ffffffbf);
  -webkit-filter: drop-shadow(0px 0px 10px #ffffffbf);
  -moz-filter: drop-shadow(0px 0px 10px #ffffffbf);
}

@media (max-width: 1199.98px) {
  .header {
    font-size: calc(0.75rem + (16 - 12) * ((100vw - 768px) / (1200 - 768)));
  }
  .header__body {
    min-height: calc(70px + (120 - 70) * ((100vw - 768px) / (1200 - 768)));
    padding: calc(25px + (45 - 25) * ((100vw - 768px) / (1200 - 768))) 0px;
  }
  .header__list {
    column-gap: calc(17.5px + (45 - 17.5) * ((100vw - 768px) / (1200 - 768)));
  }
  .header__logo svg {
    width: calc(140px + (190 - 150) * ((100vw - 768px) / (1200 - 768)));
    height: calc(22px + (28 - 22) * ((100vw - 768px) / (1200 - 768)));
  }
}

@media (max-width: 771.98px) {
  .header {
    margin: 40px 0;
    background-color: transparent;
    position: absolute;
  }
  .header::after {
    display: none;
  }
  .header__body {
    display: block;
    padding: 0px;
    min-height: 0px;
    text-align: center;
  }
  .header__logo {
    position: relative;
    margin: 41px 0;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
  }
  .header__logo svg {
    fill: var(--white);
    width: 212px;
    height: 41px;
  }
  .header__list {
    display: none;
    margin-top: 60px;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
  }
  .header__link {
    display: block;
    text-align: center;
    padding: 5px 100px;
    margin: 0 auto;
  }
  .header__item:last-child {
    margin-right: 0px;
  }
  .header__nav {
    top: 0;
    right: -150%;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background-color: var(--black);
  }
}

.header__nav.burger-active {
  padding-top: 40px;
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 10;
}

.header__nav.burger-active .header__burger-logo {
  display: block;
}

.header__nav.burger-active .header__burger-logo svg {
  fill: var(--white);
}

.header__nav.burger-active .header__burger-logo svg:hover, .header__nav.burger-active .header__burger-logo svg:focus {
  fill: #43a7ff;
}

.header__nav.burger-active .header__list {
  display: flex;
}

.header__nav.burger-active .header__burger {
  display: block;
}

.slider {
  position: relative;
  font-family: 'Aire Exterior', 'Times', sans-serif;
}

.slider::before {
  content: '';
  position: absolute;
  height: 130px;
  width: 1px;
  background-color: #FFF;
  margin: 0 auto;
  bottom: -65px;
  right: 0;
  left: 0;
  z-index: 11;
}

.slider__body {
  position: relative;
  height: calc(650px + (777 - 650) * ((100vw - 320px) / (1200 - 320)));
  z-index: 5;
}

.slider__body::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: rgba(9, 189, 242, 0.6);
  filter: blur(22.5px);
  border-radius: 24px;
  z-index: -1;
}

.slider__slider {
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  z-index: 2;
}

.slider__item {
  position: relative;
  border: 0.5px solid #57D6FF;
  box-shadow: -33px 17px 29px rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 777px;
  z-index: 10;
}

.slider__content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  z-index: 9;
}

.slider__subtitle {
  margin-top: 160px;
  font-family: 'Roboto', 'Times', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.15;
  margin-bottom: 3px;
}

.slider__title {
  font-size: 48px;
  line-height: 1;
  margin-bottom: calc(75px + (100 - 75) * ((100vw - 320px) / (1200 - 320)));
}

.slider__burger {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 52px;
  height: 20px;
  bottom: 25px;
  right: 15px;
  z-index: 11;
}

.slider__burger::after {
  content: '';
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
}

.slider__burger::before {
  content: '';
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
}

.stalker {
  background: radial-gradient(49.95% 96.01% at 50.05% 49.91%, rgba(82, 125, 139, 0) 0%, rgba(82, 125, 139, 0.25) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/slider/01.jpg"), #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.god_of_war {
  background: radial-gradient(49.95% 96.01% at 50.05% 49.91%, rgba(82, 125, 139, 0) 0%, rgba(82, 125, 139, 0.25) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/slider/02.jpg"), #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.kosmos {
  background: radial-gradient(49.95% 96.01% at 50.05% 49.91%, rgba(82, 125, 139, 0) 0%, rgba(82, 125, 139, 0.25) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/slider/03.jpg"), #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.space {
  background: radial-gradient(49.95% 96.01% at 50.05% 49.91%, rgba(82, 125, 139, 0) 0%, rgba(82, 125, 139, 0.25) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/slider/04.jpg"), #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 771.98px) {
  .slider__body {
    position: relative;
    height: calc(650px + (777 - 650) * ((100vw - 320px) / (1200 - 320)));
    z-index: 5;
  }
  .slider__body::before {
    content: '';
    display: none;
  }
  .slider .container-big {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .slider__content {
    max-width: 284px;
    margin: 0 auto;
    padding: 0;
  }
  .slider__subtitle {
    margin-bottom: 12px;
    display: inline-block;
    max-width: 150px;
    margin-right: auto;
  }
  .slider__burger {
    display: block;
  }
  .stalker, .god_of_war, .kosmos, .space {
    background-size: auto 100%;
  }
}

.content {
  position: relative;
}

.content::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 90%;
  bottom: 0;
  bottom: 0;
  margin: auto 0;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.15);
}

.how-works {
  position: relative;
  padding-top: 100px;
}

.how-works::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: repeating-linear-gradient(-45deg, var(--gray), var(--gray) 5px, transparent 5px, transparent 10px);
  top: 10px;
  left: 0;
  z-index: 1;
}

.how-works__body {
  display: grid;
  grid-template-areas: 'image disc1' 'image disc2';
}

.how-works__image {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: image;
}

.how-works__content-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  grid-area: disc1;
  margin-bottom: 1.687rem;
}

.how-works__content-bottom {
  position: relative;
  padding-top: 1.375rem;
  grid-area: disc2;
}

.how-works__content-bottom::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 271px;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.how-works__titles {
  margin-bottom: 3.75rem;
}

.how-works__desc {
  font-weight: 300;
  font-size: 1.3125rem;
  line-height: 1.5;
  color: var(--gray);
}

.how-works__link {
  display: inline-block;
  margin-top: 70px;
}

.start {
  padding-top: 90px;
}

.start__body {
  text-align: center;
}

.start__titles {
  text-align: center;
  margin-bottom: 5.625rem;
}

.start__list {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.start__item {
  position: relative;
  margin-bottom: 90px;
}

.start__item::after {
  content: '';
  position: absolute;
  width: 36px;
  height: 1px;
  top: 32px;
  right: 0;
  background-color: #50AFCD;
}

.start__item::before {
  content: '';
  position: absolute;
  width: 36px;
  height: 1px;
  top: 32px;
  left: 0;
  background-color: #50AFCD;
}

.start__item:first-child::before, .start__item:last-child::after {
  display: none;
}

.start__desc {
  margin-top: 10px;
  font-weight: 300;
  font-size: 1.312rem;
  line-height: 150%;
  color: #F1F1F1;
}

@media (max-width: 1199.98px) {
  .how-works::after {
    display: none;
  }
  .how-works__image img {
    width: calc(450px + (660 - 450) * ((100vw - 768px) / (1200 - 768)));
  }
  .how-works__content-bottom::after {
    width: calc(150px + (271 - 150) * ((100vw - 768px) / (1200 - 768)));
  }
  .how-works__desc {
    font-size: calc(1.125rem + (21 - 18) * ((100vw - 768px) / (1200 - 768)));
  }
}

@media (max-width: 771.98px) {
  .content::after {
    display: none;
  }
  .how-works__body {
    display: grid;
    justify-content: center;
    grid-template-areas: 'disc1' 'image' 'disc2';
  }
  .how-works__image img {
    text-align: center;
    width: 90%;
  }
  .how-works__content-bottom::after {
    display: none;
  }
  .how-works__desc {
    font-size: 1.215rem;
  }
  .how-works__link {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 80px;
  }
  .start__list {
    position: relative;
    grid-template-columns: 1fr 1fr;
  }
  .start__list::after {
    content: '';
    position: absolute;
    top: 32%;
    right: 0;
    left: 0;
    margin: auto;
    width: calc(180px + (500 - 180) * ((100vw - 500px) / (1200 - 500)));
    height: 1px;
    background-color: #50AFCD;
    transform: rotate(140deg);
  }
  .start__item::after, .start__item::before {
    width: calc(40px + (120 - 40) * ((100vw - 425px) / (1200 - 425)));
  }
  .start__item:nth-child(2)::after {
    display: none;
  }
  .start__item:nth-child(3)::before {
    display: none;
  }
  .start__desc, .start__image {
    max-width: 110px;
    margin: 0 auto;
  }
}

@media (max-width: 416.98px) {
  .start__list {
    display: flex;
    flex-direction: column;
  }
  .start__list::after {
    display: none;
  }
  .start__item::after {
    display: block;
    content: '';
    position: absolute;
    width: 1px;
    height: 88px;
    margin: 0 auto;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #50AFCD;
  }
  .start__item::before {
    display: none;
  }
  .start__item:nth-child(2)::after {
    display: block;
  }
}
