@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Roboto:200,300,regular,500,700&display=swap&subset=cyrillic-ext ");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Roboto', 'Times', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--black);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-big {
  max-width: 1355px;
  margin: 0 auto;
  padding: 0 15px;
}

.subtitle {
  display: inline;
  position: relative;
  padding-left: 4.5rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 180%;
  margin-bottom: 9px;
  color: #57D6FF;
}

.subtitle::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 1px;
  margin: auto 0;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: #57D6FF;
}

.title {
  font-family: 'Aire Exterior', 'Times', sans-serif;
  font-weight: 400;
  font-size: 39px;
  line-height: 39px;
  padding-top: 9px;
}

.link {
  position: relative;
  color: var(--white);
  padding-bottom: 4px;
}

.link::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--sky-blue);
  box-shadow: 1px 1px 10px var(--sky-blue), -1px -1px 10px var(--sky-blue);
  transition: all 0.3s ease-out;
}

.link::before {
  display: block;
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--sky-blue);
  box-shadow: 1px 1px 10px var(--sky-blue), -1px -1px 10px var(--sky-blue);
  transition: all 0.3s ease-out;
}

.link:hover:after, .link:focus:after {
  width: 50%;
}

.link:hover:before, .link:focus:before {
  width: 50%;
}

.link-blue {
  color: var(--sky-blue);
}

.link-blue::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--sky-blue);
  box-shadow: 1px 1px 10px var(--sky-blue), -1px -1px 10px var(--sky-blue);
  transition: all 0.3s ease-out;
}

.link-blue::before {
  display: block;
  content: "";
  position: absolute;
  right: 50%;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--sky-blue);
  box-shadow: 1px 1px 10px var(--sky-blue), -1px -1px 10px var(--sky-blue);
  transition: all 0.3s ease-out;
}

.link-blue:hover:after, .link-blue:focus:after {
  width: 50%;
}

.link-blue:hover:before, .link-blue:focus:before {
  width: 50%;
}

.button {
  display: inline-flex;
  cursor: pointer;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  min-width: 250px;
  min-height: 61px;
  padding: 10px 30px;
  font-size: 24px;
  line-height: 1;
  color: #000;
  z-index: -1;
  clip-path: polygon(91% 0, 100% 33%, 100% 100%, 0 100%, 0 0);
  transition: all 0.4s ease-in-out;
}

.button:hover, .button:focus {
  clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
  background-color: #e7e7e7;
}

.title-second {
  color: #fff;
  font-family: 'Aire Exterior', 'Times', sans-serif;
  font-size: 3rem;
  line-height: 1;
}

.link-sc {
  transition: all 0.4s ease-in;
}

.link-sc img {
  width: 30px;
  height: 30px;
}

.link-sc:hover, .link-sc:focus {
  filter: drop-shadow(0px 0px 5px #ffffff79);
  -webkit-filter: drop-shadow(0px 0px 5px #ffffff79);
  -moz-filter: drop-shadow(0px 0px 5px #ffffff79);
}

.login-input {
  width: 100%;
  padding: 25px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 2.5px solid transparent;
  font-family: 'Aire Exterior', 'Times', sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in;
}

.login-input:hover, .login-input:focus {
  filter: drop-shadow(0px 0px 5px #015eb1b9);
  border: 2.5px solid var(--sky-blue);
  color: black;
}

.lock {
  overflow: hidden;
}

:root {
  --white: #fff;
  --black: #141C24;
  --gray: #ABABAB;
  --sky-blue: #00C5FF;
  --blue: #57D6FF
;
}

@font-face {
  font-family: 'Aire Exterior';
  src: url("../fonts/AireExterior.eot");
  src: url("../fonts/AireExterior.eot?#iefix") format("embedded-opentype"), url("../fonts/AireExterior.woff2") format("woff2"), url("../fonts/AireExterior.woff") format("woff"), url("../fonts/AireExterior.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--black);
  z-index: 99;
}

.header::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: repeating-linear-gradient(-45deg, var(--gray), var(--gray) 5px, transparent 5px, transparent 10px);
  bottom: 0;
  left: 0;
  z-index: 1;
}

.header__body {
  display: flex;
  justify-content: space-between;
  min-height: 120px;
  padding: 45px 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.85s ease-in-out;
}

.header__logo {
  position: relative;
  margin-right: 15px;
  z-index: 2;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 45px;
  row-gap: 5px;
}

.header__item:last-child {
  margin-right: 50px;
}

.header__burger {
  display: none;
}

.header__burger-logo {
  display: none;
}

.logo__link svg {
  transition: all 0.4s ease-in;
}

.logo__link svg:hover, .logo__link svg:focus {
  fill: #43a7ff;
  filter: drop-shadow(3px 3px 10px #43a7ff85);
  -webkit-filter: drop-shadow(3px 3px 10px #43a7ff85);
  -moz-filter: drop-shadow(3px 3px 10px #43a7ff85);
}

.header__return {
  margin: 25px 0;
  background-color: transparent;
}

.burger-header__list {
  display: flex;
  position: relative;
  justify-content: center;
  column-gap: 25px;
  width: 300px;
  padding-top: 140px;
  padding-bottom: 40px;
}

.burger-header__list::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

@media (max-width: 1199.98px) {
  .header {
    font-size: calc(0.75rem + (16 - 12) * ((100vw - 768px) / (1200 - 768)));
  }
  .header__body {
    min-height: calc(70px + (120 - 70) * ((100vw - 768px) / (1200 - 768)));
    padding: calc(25px + (45 - 25) * ((100vw - 768px) / (1200 - 768))) 0px;
  }
  .header__list {
    column-gap: calc(17.5px + (45 - 17.5) * ((100vw - 768px) / (1200 - 768)));
  }
  .header__logo svg {
    width: calc(140px + (190 - 150) * ((100vw - 768px) / (1200 - 768)));
    height: calc(22px + (28 - 22) * ((100vw - 768px) / (1200 - 768)));
  }
}

@media (max-width: 771.98px) {
  .header {
    margin: 40px 0;
    background-color: transparent;
    position: absolute;
  }
  .header::after {
    display: none;
  }
  .header__body {
    display: block;
    padding: 0px;
    min-height: 0px;
    text-align: center;
  }
  .header__logo {
    position: relative;
    margin: 41px 0;
    text-align: center;
    margin: 0 auto;
    z-index: 10;
  }
  .header__logo svg {
    fill: var(--white);
    width: 212px;
    height: 41px;
  }
  .header__list {
    display: none;
    margin-top: 60px;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
  }
  .header__link {
    display: block;
    text-align: center;
    padding: 5px 100px;
    margin: 0 auto;
  }
  .header__item:last-child {
    margin-right: 0px;
  }
  .header__nav {
    top: 0;
    right: -150%;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background-color: var(--black);
  }
}

.header__nav.burger-active {
  padding-top: 40px;
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 10;
}

.header__nav.burger-active .header__burger-logo {
  display: block;
}

.header__nav.burger-active .header__burger-logo svg {
  fill: var(--white);
}

.header__nav.burger-active .header__burger-logo svg:hover, .header__nav.burger-active .header__burger-logo svg:focus {
  fill: #43a7ff;
}

.header__nav.burger-active .header__list {
  display: flex;
}

.header__nav.burger-active .header__burger {
  display: block;
}

.footer {
  margin-top: 80px;
  background-color: #171717;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 25px;
  min-height: 150px;
  padding: 45px 0;
}

.footer__author {
  display: flex;
  column-gap: 25px;
  align-items: center;
}

.footer__list {
  display: flex;
  column-gap: 50px;
  align-items: center;
  font-weight: 200;
  font-size: 0.75rem;
  line-height: 1.170;
}

.footer__social-list {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

@media (max-width: 1199.98px) {
  .footer {
    margin-top: 60px;
  }
  .footer__body {
    column-gap: 20px;
    padding: 60px 0;
  }
  .footer__logo svg {
    width: calc(140px + (190 - 150) * ((100vw - 768px) / (1200 - 768)));
    height: calc(22px + (28 - 22) * ((100vw - 768px) / (1200 - 768)));
  }
  .footer__author {
    column-gap: calc(20px + (25 - 20) * ((100vw - 768px) / (1200 - 768)));
  }
  .footer__list {
    display: flex;
    column-gap: calc(20px + (50 - 20) * ((100vw - 768px) / (1200 - 768)));
    font-size: 0.625rem;
  }
  .footer__social-list {
    column-gap: 10px;
  }
  .footer__social-link img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 771.98px) {
  .footer__body {
    flex-direction: column-reverse;
    column-gap: 0;
    row-gap: 50px;
    padding: 84px 0px;
  }
  .footer__logo svg {
    width: 211px;
    height: 37px;
  }
  .footer__author {
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0;
  }
  .footer__list {
    flex-direction: column-reverse;
    row-gap: 20px;
    column-gap: 0;
    font-size: 0.75rem;
  }
  .footer__social-list {
    column-gap: 25px;
  }
  .footer__social-link img {
    width: 30px;
    height: 30px;
  }
}

.slider {
  position: relative;
  font-family: 'Aire Exterior', 'Times', sans-serif;
}

.slider::before {
  content: '';
  position: absolute;
  height: 130px;
  width: 1px;
  background-color: #FFF;
  margin: 0 auto;
  bottom: -65px;
  right: 0;
  left: 0;
  z-index: 11;
}

.slider__body {
  position: relative;
  height: calc(650px + (777 - 650) * ((100vw - 320px) / (1200 - 320)));
  z-index: 5;
}

.slider__body::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: rgba(9, 189, 242, 0.6);
  filter: blur(22.5px);
  border-radius: 24px;
  z-index: -1;
}

.slider__slider {
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  z-index: 2;
}

.slider__item {
  position: relative;
  border: 0.5px solid #57D6FF;
  box-shadow: -33px 17px 29px rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 777px;
  z-index: 10;
}

.slider__content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  z-index: 9;
}

.slider__subtitle {
  margin-top: 160px;
  font-family: 'Roboto', 'Times', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.15;
  margin-bottom: 3px;
}

.slider__title {
  font-size: 48px;
  line-height: 1;
  margin-bottom: calc(75px + (100 - 75) * ((100vw - 320px) / (1200 - 320)));
}

.slider__burger {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 52px;
  height: 20px;
  bottom: 25px;
  right: 15px;
  z-index: 11;
}

.slider__burger::after {
  content: '';
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
}

.slider__burger::before {
  content: '';
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
}

.stalker {
  background: radial-gradient(49.95% 96.01% at 50.05% 49.91%, rgba(82, 125, 139, 0) 0%, rgba(82, 125, 139, 0.25) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/slider/01.jpg"), #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.god_of_war {
  background: radial-gradient(49.95% 96.01% at 50.05% 49.91%, rgba(82, 125, 139, 0) 0%, rgba(82, 125, 139, 0.25) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/slider/02.jpg"), #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.kosmos {
  background: radial-gradient(49.95% 96.01% at 50.05% 49.91%, rgba(82, 125, 139, 0) 0%, rgba(82, 125, 139, 0.25) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/slider/03.jpg"), #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.space {
  background: radial-gradient(49.95% 96.01% at 50.05% 49.91%, rgba(82, 125, 139, 0) 0%, rgba(82, 125, 139, 0.25) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/slider/04.jpg"), #FFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 771.98px) {
  .slider__body {
    position: relative;
    height: calc(650px + (777 - 650) * ((100vw - 320px) / (1200 - 320)));
    z-index: 5;
  }
  .slider__body::before {
    content: '';
    display: none;
  }
  .slider .container-big {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .slider__content {
    max-width: 284px;
    margin: 0 auto;
    padding: 0;
  }
  .slider__subtitle {
    margin-bottom: 12px;
    display: inline-block;
    max-width: 150px;
    margin-right: auto;
  }
  .slider__burger {
    display: block;
  }
  .stalker, .god_of_war, .kosmos, .space {
    background-size: auto 100%;
  }
}

.content {
  position: relative;
}

.content::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 90%;
  bottom: 0;
  bottom: 0;
  margin: auto 0;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.15);
}

.how-works {
  position: relative;
  padding-top: 100px;
}

.how-works::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: repeating-linear-gradient(-45deg, var(--gray), var(--gray) 5px, transparent 5px, transparent 10px);
  top: 10px;
  left: 0;
  z-index: 1;
}

.how-works__body {
  display: grid;
  grid-template-areas: 'image disc1' 'image disc2';
}

.how-works__image {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: image;
}

.how-works__content-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  grid-area: disc1;
  margin-bottom: 1.687rem;
}

.how-works__content-bottom {
  position: relative;
  padding-top: 1.375rem;
  grid-area: disc2;
}

.how-works__content-bottom::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 271px;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.how-works__titles {
  margin-bottom: 3.75rem;
}

.how-works__desc {
  font-weight: 300;
  font-size: 1.3125rem;
  line-height: 1.5;
  color: var(--gray);
}

.how-works__link {
  display: inline-block;
  margin-top: 70px;
}

.start {
  padding-top: 90px;
}

.start__body {
  text-align: center;
}

.start__titles {
  text-align: center;
  margin-bottom: 5.625rem;
}

.start__list {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.start__item {
  position: relative;
  margin-bottom: 90px;
}

.start__item::after {
  content: '';
  position: absolute;
  width: 36px;
  height: 1px;
  top: 32px;
  right: 0;
  background-color: #50AFCD;
}

.start__item::before {
  content: '';
  position: absolute;
  width: 36px;
  height: 1px;
  top: 32px;
  left: 0;
  background-color: #50AFCD;
}

.start__item:first-child::before, .start__item:last-child::after {
  display: none;
}

.start__desc {
  margin-top: 10px;
  font-weight: 300;
  font-size: 1.312rem;
  line-height: 150%;
  color: #F1F1F1;
}

.subs {
  position: relative;
  padding-top: 150px;
  padding-bottom: 90px;
}

.subs::before {
  content: '';
  position: absolute;
  width: 582px;
  height: 1px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--sky-blue);
  margin: 0 auto;
}

.subs__body {
  text-align: center;
}

.subs__titles {
  margin-bottom: 40px;
}

.subs__list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  row-gap: 30px;
  padding-top: 30px;
}

.subs__item {
  flex: 0 1 33%;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  padding: 70px 47px 47px 47px;
  min-height: 400px;
  max-width: 400px;
  background-color: #1F2631;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: all 0.5s ease-in 0.1s;
}

.subs__item:hover, .subs__item:focus {
  background: #00C5FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.subs__item:hover .subs__name, .subs__item:focus .subs__name {
  color: #141C24;
}

.subs__item:hover .subs__price, .subs__item:focus .subs__price {
  color: #141C24;
}

.subs__item:hover .subs__available, .subs__item:focus .subs__available {
  color: #000;
}

.subs__item:hover .subs__link-button, .subs__item:focus .subs__link-button {
  color: var(--white);
  background: #141C24;
}

.subs__name {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.15;
  margin-bottom: 15px;
  transition: all 0.4s ease-in 0.1s;
}

.subs__price {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.15;
  margin-bottom: 22px;
  transition: all 0.4s ease-in 0.1s;
}

.subs__available {
  font-weight: 300;
  font-size: 1.312rem;
  line-height: 1.5;
  color: var(--gray);
  margin-bottom: 40px;
  transition: all 0.4s ease-in 0.1s;
}

.subs__link-button {
  display: flex;
  justify-content: center;
  text-align: center;
  background: var(--sky-blue);
  padding: 11px 0;
  border-radius: 5px;
  font-family: 'Aire Exterior', 'Times', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8;
  color: #141C24;
  transition: all 0.4s ease-in 0.1s;
}

.browser {
  position: relative;
  padding-top: 240px;
  padding-bottom: 400px;
}

.browser__body {
  display: grid;
  grid-template-areas: 'content image' 'desc image';
}

.browser__content {
  grid-area: content;
  position: relative;
  margin: 0 20px;
  max-width: 480px;
  z-index: 10;
}

.browser__titles {
  margin-bottom: 95px;
}

.browser__desc-block {
  position: relative;
  grid-area: desc;
  max-width: 500px;
  z-index: 10;
}

.browser__desc {
  font-weight: 300;
  font-size: 1.312rem;
  line-height: 1.5;
  color: var(--gray);
  margin-bottom: 60px;
}

.browser__image {
  grid-area: image;
  position: absolute;
  right: 0;
  z-index: 1;
}

@media (max-width: 1199.98px) {
  .how-works::after {
    display: none;
  }
  .how-works__image img {
    width: calc(450px + (660 - 450) * ((100vw - 768px) / (1200 - 768)));
  }
  .how-works__content-bottom::after {
    width: calc(150px + (271 - 150) * ((100vw - 768px) / (1200 - 768)));
  }
  .how-works__desc {
    font-size: calc(1.125rem + (21 - 18) * ((100vw - 768px) / (1200 - 768)));
  }
  .subs {
    padding-top: 150px;
  }
  .subs__name {
    font-size: calc(1.75rem + (36 - 28) * ((100vw - 768px) / (1200 - 768)));
  }
  .subs__price {
    font-size: calc(1.25rem + (24 - 20) * ((100vw - 768px) / (1200 - 768)));
  }
  .subs__available {
    font-size: calc(1.2rem + (21 - 19) * ((100vw - 768px) / (1200 - 768)));
  }
  .subs__link-button {
    padding: 10px 0;
    font-size: calc(1.25rem + (24 - 20) * ((100vw - 768px) / (1200 - 768)));
  }
  .browser__content {
    max-width: 400px;
  }
  .browser__disc {
    font-size: calc(1rem + (21 - 16) * ((100vw - 768px) / (1200 - 768)));
  }
  .browser__image {
    width: 52.5%;
    height: 52.5%;
    right: -5%;
  }
}

@media (max-width: 771.98px) {
  .content::after {
    display: none;
  }
  .how-works__body {
    display: grid;
    justify-content: center;
    grid-template-areas: 'disc1' 'image' 'disc2';
  }
  .how-works__image img {
    text-align: center;
    width: 90%;
  }
  .how-works__content-bottom::after {
    display: none;
  }
  .how-works__desc {
    font-size: 1.215rem;
  }
  .how-works__link {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 80px;
  }
  .start__list {
    position: relative;
    grid-template-columns: 1fr 1fr;
  }
  .start__list::after {
    content: '';
    position: absolute;
    top: 32%;
    right: 0;
    left: 0;
    margin: auto;
    width: calc(180px + (500 - 180) * ((100vw - 500px) / (1200 - 500)));
    height: 1px;
    background-color: #50AFCD;
    transform: rotate(140deg);
  }
  .start__item::after, .start__item::before {
    width: calc(40px + (120 - 40) * ((100vw - 425px) / (1200 - 425)));
  }
  .start__item:nth-child(2)::after {
    display: none;
  }
  .start__item:nth-child(3)::before {
    display: none;
  }
  .start__desc, .start__image {
    max-width: 110px;
    margin: 0 auto;
  }
  .subs {
    padding-top: 90px;
    padding-bottom: 0px;
  }
  .subs::before {
    display: none;
  }
  .subs__list {
    padding-top: 0px;
    flex-direction: column;
  }
  .subs__item {
    padding: 70px 16px 16px 16px;
    flex: 0 1 auto;
    margin: 0 auto;
    max-width: 300px;
  }
  .subs__name {
    font-size: 2.25rem;
  }
  .subs__price {
    font-size: 1.5rem;
  }
  .subs__available {
    font-size: 1.312rem;
  }
  .subs__link-button {
    padding: 11px 0;
    font-size: 1.5rem;
  }
  .browser {
    padding-top: 50px;
    padding-bottom: 20px;
    min-height: 0;
    position: relative;
  }
  .browser__body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 'content' 'image' 'desc';
    justify-content: center;
  }
  .browser__titles {
    margin: 0;
    margin-bottom: 70px;
  }
  .browser__desc-block {
    text-align: center;
  }
  .browser__image {
    display: none;
  }
}

@media (max-width: 416.98px) {
  .start__list {
    display: flex;
    flex-direction: column;
  }
  .start__list::after {
    display: none;
  }
  .start__item::after {
    display: block;
    content: '';
    position: absolute;
    width: 1px;
    height: 88px;
    margin: 0 auto;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #50AFCD;
  }
  .start__item::before {
    display: none;
  }
  .start__item:nth-child(2)::after {
    display: block;
  }
  .browser__content {
    display: block;
    margin: 0 auto;
  }
  .browser__titles {
    margin-bottom: 350px;
  }
  .browser__image {
    display: block;
    position: absolute;
    width: 520px;
    height: 350.91px;
    top: 25%;
  }
}

.dowload {
  padding: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  margin: auto;
}

.dowload__body {
  max-width: 590px;
  margin: auto;
}

.dowload__top {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 62.5px;
}

.dowload__return {
  left: -71px;
  position: absolute;
}

.dowload__title {
  font-family: 'Aire Exterior', 'Times', sans-serif;
  font-size: 3rem;
  line-height: 1;
}

.dowload__action-list {
  display: flex;
  margin-top: 62.5px;
  justify-content: space-between;
}

.dowload__action-link {
  transition: all 0.4s ease-in;
}

.dowload__action-link:hover, .dowload__action-link:focus {
  filter: drop-shadow(2px 2px 10px #015eb1b9);
}

.dowload__action-link img {
  width: 100px;
  height: 100px;
}

.contant {
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: var(--black);
}

.contant__return {
  left: -71px;
  position: absolute;
}

.contant__top {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 30px;
}

.contant__action-list {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.contant__action-link {
  transition: all 0.4s ease-in;
}

.contant__action-link img {
  width: 50px;
  height: 50px;
}

.login {
  padding-top: 25px;
  min-width: 300px;
  max-width: 390px;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: var(--black);
}

.login__body {
  margin: 0 auto;
}

.login__top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.login__title {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in;
}

.login__title:hover, .login__title:focus {
  color: #fff;
}

.login__title.login-active {
  color: #fff;
}

.login__return {
  position: absolute;
  left: -40px;
}

.login__entery {
  margin-left: 22px;
}

.login__register {
  margin-right: 0px;
}

.login__form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  row-gap: 15px;
}

.login__active {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.login__checkbox-block {
  display: grid;
  align-items: center;
  margin-top: 10px;
  grid-template-columns: auto auto;
}

.login__checkbox-block.reg {
  align-items: flex-start;
}

.login__checkbox-text {
  margin-left: 24px;
  display: block;
  font-weight: 200;
  font-size: 0.7rem;
  line-height: 1.1;
  color: #FFFFFF;
}

.login__button {
  font-family: 'Aire Exterior', 'Times', sans-serif;
  margin-left: 34px;
  min-width: 0;
  width: 100%;
  font-weight: 400;
  color: #000000;
  position: relative;
  z-index: 1;
}

.login__button.reg {
  max-width: 250px;
  margin: 0 auto;
}

.login__text {
  position: relative;
  text-align: center;
  margin: 50px 15px 0 15px;
  padding: 0 10px;
  font-weight: 200;
  font-size: 0.75rem;
  line-height: 1.1px;
}

.login__text::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 1px;
  width: 110px;
  background-color: rgba(255, 255, 255, 0.5);
}

.login__text::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 1px;
  width: 110px;
  background-color: rgba(255, 255, 255, 0.5);
}

.login__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 200px;
  row-gap: 15px;
  margin: 20px auto;
}

.login__social-item {
  flex: 1 1 20%;
}

.login__social-image {
  width: 25px;
  height: 25px;
}

.entery {
  position: relative;
  display: none;
  z-index: -1;
}

.register {
  position: relative;
  display: none;
  z-index: -1;
}

.entery.active, .register.active {
  display: block;
  z-index: 10;
}

#checkbox-entery, #checkbox-reg {
  display: none;
  transition: all 0.3 ease-in;
}

#checkbox-entery + .login__checkbox, #checkbox-reg + .login__checkbox {
  display: flex;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;
}

#checkbox-entery + .login__checkbox::before, #checkbox-reg + .login__checkbox::before {
  content: '';
  font-size: 20px;
}

#checkbox-entery:checked + .login__checkbox, #checkbox-reg:checked + .login__checkbox {
  border: 1px solid var(--sky-blue);
  filter: drop-shadow(0px 0px 2.5px #015fb175);
}

#checkbox-entery:checked + .login__checkbox::before, #checkbox-reg:checked + .login__checkbox::before {
  content: '✔';
  color: var(--sky-blue);
}

@media (max-width: 771.98px) {
  .dowload {
    padding: 75px 0px;
  }
  .dowload__body {
    max-width: auto;
  }
  .dowload__return {
    left: 0;
    top: -55px;
    margin: 0;
  }
  .dowload__top {
    text-align: center;
    padding-bottom: 35px;
  }
  .dowload__action-list {
    margin-top: 35px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
  }
  .dowload__action-item {
    flex: 1 1 50%;
    text-align: center;
  }
  .dowload__action-link img {
    width: 80px;
    height: 80px;
  }
  .contant {
    padding: 75px 0;
  }
  .contant__return {
    position: absolute;
    left: 0;
    top: -55px;
  }
  .contant__top {
    text-align: center;
    padding-bottom: 15px;
  }
  .contant__action-list {
    margin-top: 15px;
  }
  .contant__action-link img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 500px) {
  .dowload {
    padding: 100px 0 50px 0;
  }
  .dowload__top {
    text-align: left;
  }
  .dowload__action-list {
    margin-top: 10px;
    row-gap: 30px;
  }
  .dowload__action-item {
    flex: 1 1 100%;
  }
  .login {
    max-width: 324px;
    padding-top: 100px;
  }
  .login__body {
    margin: 0 auto;
  }
  .login__top {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 35px;
  }
  .login__return {
    top: -50px;
    left: 0;
  }
  .login__entery {
    margin: 0;
  }
  .login__name {
    padding: 20px;
    width: 100%;
  }
  .login__active {
    margin-top: 30px;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .login__button {
    margin: 0px;
    max-width: 250px;
    margin-bottom: 35px;
  }
  .login__checkbox-text {
    display: block;
    margin-left: 12px;
    font-size: 0.7rem;
  }
  .login__text::before, .login__text::after {
    display: none;
  }
}
