body {
    font-family: 'Roboto', 'Times', sans-serif;
    font-weight: normal;
    font-style: normal;
	font-size: 1rem;
	color: var(--white);
	background-color: var(--black);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 15px;
}

.container-big {
	max-width: 1355px;
	margin: 0 auto;
	padding: 0 15px;
}

.subtitle {
	position: relative;
	font-weight: 300;
	font-size: 1rem;
	line-height: 180%;

	color: #57D6FF;
	&::after {
		content: '';
		position: absolute;
		width: 50px;
		height: 1px;
		margin: auto 0;
		left: -5.25rem;
		bottom: 0; top: 0;
		background-color: #57D6FF;
	}
}
.title {
	font-family: 'Aire Exterior', 'Times', sans-serif;
	font-weight: 400;
	font-size: 39px;
	line-height: 39px;
}

.link {
	position: relative;
	color: var(--white);
	padding-bottom: 4px;

	&::after {
		display: block;
		content: "";
		position: absolute;
		left: 50%; 
		bottom: 0;
		width: 0%;
		height: 1px; 
		background-color: var(--sky-blue); 
		box-shadow: 1px 1px 10px var(--sky-blue), -1px -1px 10px var(--sky-blue);
		transition: all 0.3s ease-out; 
	}
	&::before {
		display: block;
		content: "";
		position: absolute;
		right: 50%;
		bottom: 0;
		width: 0%;
		height: 1px; 
		background-color: var(--sky-blue); 
		box-shadow: 1px 1px 10px var(--sky-blue), -1px -1px 10px var(--sky-blue);
		transition: all 0.3s ease-out; 
	}
	&:hover:after,
	&:focus:after {
		width: 50%;
	}
	&:hover:before,
	&:focus:before {
		width: 50%;
	}
}

.button {
	display: inline-flex;
	position: relative;
	cursor: pointer;
	background-color: var(--white);
	justify-content: center;
	align-items: center;
	min-width: 250px;
	min-height: 61px;
	padding: 10px 30px;

	font-size: 24px;
	line-height: 1;
	color: #000;
	z-index: -1;
	clip-path: polygon(91% 0, 100% 33%, 100% 100%, 0 100%, 0 0);
	transition: all 0.4s ease-in-out;
	&:hover, &:focus {
		clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
		background-color: rgb(231, 231, 231);
	}
}

.lock {
	overflow: hidden;
}

:root {
	--white: #fff;
	--black: #141C24;
	--gray: #ABABAB;
	--sky-blue: #00C5FF;
	--blue: #57D6FF
}