.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: var(--black);
	z-index: 99;
	&__body {
		display: flex;
		justify-content: space-between;
		min-height: 120px;
		padding: 45px 0;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: all 0.85s ease-in-out;
	}
	&__logo {
		position: relative;
		margin-right: 15px;
		z-index: 2;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 45px;
		row-gap: 5px;
	}

	&__item:last-child {
		margin-right: 50px;
	}

	&__burger {
		display: none;
	}
	&__burger-logo {
		display: none;
	}
}

.logo {
	&__link svg{
		transition: all 0.4s ease-in;
	}
	&__link svg:hover, &__link svg:focus {
		fill: #43a7ff;
	}

}

.header {
	&__return {
		margin: 25px 0;
		background-color: transparent;
	}
}
.burger-header {

	&__list {
		display: flex;
		position: relative;
		justify-content: center;
		column-gap: 25px;
		width: 300px;
		padding-top: 140px;
		padding-bottom: 40px;

		&::before {
			content: '';
			position: absolute;
			bottom: 0; left: 0;
			width: 100%;
			height: 1px;
			background-color: #fff;
		}
	}

	&__link {
		img {
			width: 30px;
			height: 30px;
		}
	}
}



@media (max-width: $breakpoint1200) {
	.header {
		font-size: calc(0.75rem + (16 - 12) * ((100vw - 768px) / (1200 - 768))  );
		&__body {
			min-height: calc(70px + (120 - 70) * ((100vw - 768px) / (1200 - 768)) );
			padding:calc(25px + (45 - 25) * ((100vw - 768px) / (1200 - 768)) ) 0px;
		}
		&__list {
			column-gap: calc(17.5px + (45 - 17.5) * ((100vw - 768px) / (1200 - 768)) );
		}

		&__logo svg {
			width: calc(140px + (190 - 150) * ((100vw - 768px) / (1200 - 768)) );
			height: calc(22px + (28 - 22) * ((100vw - 768px) / (1200 - 768)) );
		}
	}
}

@media (max-width: $breakpoint772) {
	.header {
		margin: 40px 0;
		background-color: transparent;
		position: absolute;
		&__body {
			display: block;
			padding: 0px;
			min-height: 0px;
			text-align: center;
		}
		&__logo {
			position: relative;
			margin: 41px 0;
			text-align: center;
			margin: 0 auto;
			z-index: 10;
			svg {
				fill: var(--white);
				width: 212px;
				height: 41px;
			}
		}

		&__list {
			display: none;
			margin-top: 60px;
			justify-content: center;
			flex-direction: column;
			row-gap: 20px;
		}

		&__link {
			display: block;
			text-align: center;
			padding: 5px 100px;
			margin: 0 auto;
		}
		&__item:last-child {
			margin-right: 0px;
		}

		&__nav {
			top: 0;
			right: -150%;
			position: fixed;
			flex-direction: column;
			justify-content: flex-start;
			overflow-y: scroll;
			width: 100%;
			height: 100%;
			background-color: var(--black);
		}
	}
}

.header__nav.burger-active {
	padding-top: 40px;
	position: fixed;
	top: 0;
	right: 0px;
	z-index: 10;
	.header__burger-logo {
		display: block;
		svg {
			fill: var(--white);
		}
		svg:hover, svg:focus {
			fill: #43a7ff;
		}
	}
	.header__list {
		display: flex;
	}
	.header__burger {
		display: block;
	}
}
//body {
//	overflow: hidden;
//}